[gpg]
	format = ssh
[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[core]
	pager = delta --line-numbers
[interactive]
	diffFilter = delta --color-only --features=interactive
[merge]
	conflictStyle = diff3
[diff]
	colorMoved = default
[pull]
	rebase = false
[include]
	path = ~/.config/git/config.local
