# env
.DS_Store
*.bak
*.backup
_tmp/
.tmp/
.env

# zsh
.zsh_plugins.zsh
.zcompdump
.zsh_sessions

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

local/